@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

// $header-height: 4rem;

  /*========== Colors ==========*/
$first-color: hsl(231, 69%, 60%);
$second-color: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);
$white-color:#fff;
$body-color:#fff;
$text-color:hsl(229, 31%, 21%);


/*========== Font and typography ==========*/
$body-font: 'Rubik', sans-serif;
$default-font-size:18px;
$font-regular:400;
$font-medium:500;
$biggest-font-size: 2.25rem;
    $h1-font-size: 1.5rem;
    $h2-font-size: 1.25rem;
    $h3-font-size: 1rem;
    $normal-font-size: .938rem;
    $small-font-size: .813rem;
    $smaller-font-size: .75rem;

    @media screen and (min-width: 768px){
        $biggest-font-size: 4rem;
        $h1-font-size: 2.25rem;
        $h2-font-size: 1.5rem;
        $h3-font-size: 1.25rem;
        $normal-font-size: 1rem;
        $small-font-size: .875rem;
        $smaller-font-size: .813rem;
    }



/*========== Margenes ==========*/
$mb-1: .5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;

/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;


  /*========== BASE ==========*/
*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
     
}


body{
    // overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: $body-font;
    // font-size: $default-font-size;
    background-color:$body-color;
    // font-weight: $font-regular;
    // line-height: 1.6;
    // }
    // h1,h2,h3,ul,p{
    //     margin: 0;  
    // }

    h1 {
        font-size: 2rem;
        margin-bottom: 1.8rem;
        line-height: 1;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }

    h3 {
        font-size: 2.4rem;
        margin-bottom: 1.2rem;
    }

    h4 {
        font-size: 2rem;
        margin-bottom: .75rem;
    }

    h5 {
        font-weight: 400;
        font-size: 1.5rem;
    }
    small {
        color: $grayish-blue;
        font-size: 1.5rem;
    }
    p {
        font-weight: 400;
        font-size: 1.4rem;
        color: $grayish-blue;
        line-height: 1.65;
        margin-bottom: 4rem;
    }
    ul{
        padding: 0;
        list-style: none;
        text-align: center;
    }
    a{
        text-decoration: none;
        // color: $white-color;
        // background-color: $second-color;
        // display: inline-block;
        // padding: 1.5rem;
        // font-size: 1.5rem;
        // border-radius: 5px;
        // box-shadow: 0 5px 5px rgb(209, 209, 209);

        &:hover {
            color: $second-color;
            // transform: rotateX(30deg);
            transition: all .3s;
        }
    }

    img{
        max-width: 100%;
        height: auto;
    }




  @media screen and (min-width: 1200px) {
        h1 {
        font-size: 3.8rem;
    }

    h2 {
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }

    h3 {
        font-size: 3rem;
    }

    h5 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.5rem;
    }

    }
}
 

/*========== LAYOUT ==========*/
.bd-container{
    max-width: 960px;
    width: calc(100%-2rem);
    margin-left: $mb-2;
    margin-right: $mb-2;
}

.bd-grid{
    display:grid;
    gap:1.5rem;
}

.l-header{
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:$z-fixed;
   
    // background-color: $body-color;
}

/*========== CLASS CSS ==========*/
.section{
    padding: 4rem 0 2rem;

    &-title, &-subtitle{
        text-align: center;
    }

    &-title{
        font-size: var(--h1-font-size);
        color: var(--title-color);
        margin-bottom: var(--mb-3);
    }
    &-subtitle{
        display: block;
        color: var(--first-color);
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-1)
    }
}