@media screen and (min-width: 576px){
    .intro__container,.tabs__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .nav__social-links{
        display: none;
    }
}
// 
// 
// 
// 
@media screen and (min-width: 768px){
    body{
        margin: 0;
        
    }
 p {
        font-weight: 400;
        font-size: 1.5rem;
        color: $grayish-blue;
        line-height: 1.65;
        margin-bottom: 4rem;
    }
    .section{
        padding-top: 8rem;
    }
    .l-header{
        background-color: $body-color;
    }

     #hamburger-icon {
        display: none;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 10rem;
        background: none !important;

        .nav {
            flex: 1 0 30%;

            svg {
                circle {
                    fill: #5267DF !important;
                }

                g path{
                    fill: #242A45 !important;
                }

                g g path {
                    fill: #fff !important;
                }
            }
        }
    }

    nav {
        display: block !important;
        position: unset;
        width: fit-content;
        height: fit-content;
        margin: 0;
        padding: 0;

        ul {
            margin: 0;
        }

        li {
            width: fit-content;
            border: none;
            display: inline-block;
            padding: 0;
            margin: 0;
            &:last-of-type a {
                margin: 0;
                border: 2px solid transparent;
                background: $second-color;
                color: $white-color;
                border-radius: 0.5rem;
                padding: 0.8rem;
                &:hover {
                    color: $second-color;
                    background: $white-color;
                    border: 2px solid $second-color;
                }
            }
             &::before {
                display: none;
            }
        }

        a {
            color: $text-color;
            font-size: 1rem;
            padding: 1.25rem;
            margin: 0;
        }

        .nav__social-links {
            display: none;
        }
    }
    
    /*

    ========== INTRO ==========

    */
    .intro{
        &__container{
           
        height: 100vh;
        justify-items: center;
        }
        &__img{ 
            width: 100%;
            position: relative;
            right: 3rem;
            
        }
        &__data{
            margin-bottom: 7rem;
        }
         &__button-section{
        display: block;   
        }
        &__image-section{
            width: 40vw;
             order: 1 !important;
            position: absolute;
            right: 0;
            bottom:1rem;
        }
        &__image-pattern{
           
            width: 90%;
            padding-top: 52%;
            right: 0;
            bottom: -3rem;
    }
    
         &__title{
        text-align: left;
        font-size: 3rem;
        font-weight: 500;

        
    }
    &__subtitle{
        text-align: left;
        
    }
    }
     
/*

========== FEATURES ==========

*/
    // tabs
    .tab{
        &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        align-items: center;
        justify-content: center;
         }
         &__img{
          order: -1 !important;
           position: relative;
            bottom: 0.5rem;
         }
         &__bg{
              left: -16.5rem;
            width: 115%;
         }
    }


.tabs {
    // background: $dark-color;
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
    &--container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        >div {
            margin: 0;
            padding: 0.1rem
        }
        >div:hover {
            // color: #fff;
            cursor: pointer;
        }
    }
    p {
        font-size: 1.2rem;
        padding-top: 0.5rem;
    }
}


 .extensions{
        &__container{
            grid-template-columns: repeat(3, 210px);
            column-gap: 4rem;
        }
        &__content{
            padding: 1.5rem;
             position: relative;
        
        }
        &__img{
            width: 130px;
        }
        &__button{
            margin-top: 1.5rem;
        }
        &__dots{
            margin-top: 2rem;
        }
        &__firefox{
        margin-top: 4rem;
    }
    &__opera{
        margin-top:8rem ;
    }
    }
    
    
.contact{
    background-color: $first-color;
    padding: 3rem;
    padding: 7rem 8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    &__heading, &__paragraph{
        text-align: center;
        color: $white-color;
    }
    &__form{
       
       display: flex;
     justify-content: center;
        align-items: flex-start;
        text-align: center;
        margin-top: $mb-4;
      
       div {
            flex: 1 0 300px;
            margin-right: 1.5rem;
        }

    }
     
    &__btn{
        // @extend %button;
        border-radius: 5px;
          padding: 1rem 1rem;
          background-color: $second-color;
          border: 0;
          color: $white-color;
          cursor: pointer;
           display: inline-flex;
           margin: 0 auto;
           width: 30%;
           
    }
     svg {
            right: 9rem;
            top: 1.2rem;
        }
    &__input{
        height: 2rem;
         width: 30%;
        
    }
}

.footer{
    background-color: $text-color;
    padding: 0.2rem;
    &__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }
    &__nav{
        display: flex;
    }
    &__links{
       display: flex;
       justify-content:center;
       align-items: center;
    }
    &__social-links{
        display: flex;
        justify-content:center;
       align-items: center;
    }
     li{
        margin-top: 0;
    }
    a{
        color: $white-color;
        margin-left: $mb-3;
    }
}
}


@media screen and (min-width: 960px){
    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }

    .intro__img{
        width: 500px;
        order: 2 !important;
    }

    .about__container, .app__container{
        column-gap: 7rem;
    }
}